<header>
    <div class="header-container">
      <img class="logo" alt="" src="../../../../assets/logo-transparent.png" routerLink="/" style="cursor: pointer;"/>
   
      <div class="home-nav">
        <div class="text">HOME</div>
        <div class="text">|</div>
        <div class="text">MOVIES</div>
        <div class="text">|</div>
        <div class="text">TV SHOWS</div>

      </div>
  
      <div class="action-buttons">
        <div class="icon">
          <img class="icon" src="../../../../assets/search.png">
        </div>
        <div class="text">EN ▼</div>
        <div class="sign-in-button" id="login">Sign In</div>
      </div>
    </div>
  </header>