<html>
    <body>
        <app-nav-bar [id]="1"></app-nav-bar>
        <div class="search-bar">
            <input type="text" placeholder="Search by Title" [(ngModel)]="searchCriteria.title"  />
            <input type="text" placeholder="Search by Description" [(ngModel)]="searchCriteria.description"  />
            <input type="text" placeholder="Search by Actors" [(ngModel)]="searchCriteria.actors"  />
            <input type="text" placeholder="Search by Directors" [(ngModel)]="searchCriteria.directors"  />
            <div class="genre-select">
              <div class="dropdown">
                  <div class="dropbtn">Genres ▼</div>
                      <select class="dropdown-content" id="genre" multiple [(ngModel)]="searchCriteria.genres">
                          <option *ngFor="let genre of genres">{{ genre }}</option>
                      </select>
                </div>
            </div>
        <button (click)="searchMovies()">Search</button>

        </div>

        <div class="container">
            <div class="movies-grid">
              <div *ngFor="let movie of filteredMovies" class="movie-card">
                <img src="../../../../assets/movie-1.jpg" alt="{{ movie.title }}" />
                  <p>{{movie.title}}</p>
              </div>
            </div>
          </div>
    </body>
</html>

