
<body>
    <app-nav-bar [id]="1"></app-nav-bar>
    <div class="search-bar">
        <input type="text" placeholder="Search by Title" [(ngModel)]="searchCriteria.title" />
        <input type="text" placeholder="Search by Description" [(ngModel)]="searchCriteria.description" />
         <input type="text" placeholder="Search by Directors" [(ngModel)]="searchCriteria.director" />
        <input type="text" placeholder="Search by Actors" [(ngModel)]="searchCriteria.actors" />
        <input type="text" placeholder="Search by Genres" [(ngModel)]="searchCriteria.genres" />

<!--        <div class="genre-select">-->
<!--            <div class="dropdown">-->
<!--                <div class="dropbtn">Genres ▼</div>-->
<!--                <div class="dropdown-content" id="genre">-->
<!--                    <div *ngFor="let genre of genres">-->
<!--                        <input type="checkbox" [value]="genre" [(ngModel)]="searchCriteria.genres" (change)="updateSelectedGenres($event, genre)">-->
<!--                        <label>{{ genre }}</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <button (click)="searchMovies()">Search</button>
    </div>

    <div class="container">
        <div class="movies-grid">
            <div *ngFor="let movie of filteredMovies" class="movie-card" [routerLink]="['/movie-details', movie.movieId]" [queryParams]="{ createdAt: movie.createdAt }">
                <img src="../../../../assets/movie-1.jpg" alt="{{ movie.title }}" />
                <p>{{movie.title}}</p>
            </div>
        </div>
    </div>
</body>
</html>
