<div class="main">
    <app-nav-bar [id]="0"></app-nav-bar>
  
    <div class="container">
      <label class="title">Edit Movie Information</label>
      <form (ngSubmit)="onSubmit()" style="margin-top: 2%;">
        <div class="form-group">
          <label for="video">Movie</label>
          <div *ngIf="loadedFiles['video']; else videoInput">
            <span class="file-name">{{ loadedFiles['video']?.name }}</span>
            <button class="btn-delete" type="button" (click)="deleteFile('video')">Delete Movie</button>
          </div>
          <ng-template #videoInput>
            <input type="file" id="video" (change)="onFileSelected($event, 'video')" class="form-control" />
          </ng-template>
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" [(ngModel)]="movie.title" name="title" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" [(ngModel)]="movie.description" name="description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <label>Actors</label>
          <div class="options-wrap">
            <div class="option-box" *ngFor="let actor of actors">
              <input type="checkbox" [id]="actor" [value]="actor" (change)="onCheckboxChange($event, 'actors')" [checked]="movie.actors.includes(actor)" />
              <label class="options" [for]="actor">{{ actor }}</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Directors</label>
          <div class="options-wrap">
            <div class="option-box" *ngFor="let director of directors">
              <input type="checkbox" [id]="director" [value]="director" (change)="onCheckboxChange($event, 'directors')" [checked]="movie.directors.includes(director)" />
              <label class="options" [for]="director">{{ director }}</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Genres</label>
          <div class="options-wrap">
            <div class="option-box" *ngFor="let genre of genres">
              <input type="checkbox" [id]="genre" [value]="genre" (change)="onCheckboxChange($event, 'genres')" [checked]="movie.genres.includes(genre)" />
              <label class="options" [for]="genre">{{ genre }}</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Movie</button>
      </form>
    </div>
  </div>
  