<!DOCTYPE html>
<html>
    <body>
        <div class="background">
            <div class="login-container">   
                <div class="logo">
                    <img src="../../../../assets/logo-transparent.png" alt="Netflix">
                </div>
                <form class="login-form">
                    <h2>Create Your Account</h2>
                    <input type="text" placeholder="Enter first name here.." required>
                    <input type="text" placeholder="Enter last name here.." required>
                    <input type="date" placeholder="Enter date of birth here.." required>
                    <input type="text" placeholder="Enter username here.." required>
                    <input type="email" placeholder="Enter email here.." required>
                    <input type="password" placeholder="Enter password here.." required>
                    <button type="submit" (click)="register()">Register</button>
                </form>
                <div class="signup">
                    <p>New to SkyStream? <a [routerLink]="['/login']">Register now</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
