<!DOCTYPE html>
<html lang="en">
<body>
    <div class="background">
        <div class="header">
            <div class="logo">
                <img src="../../../../assets/logo-transparent.png" alt="Sky Stream">
            </div>
            <button class="sign-in" (click)="changePage('login')">Sign In</button>
        </div>
        <div class="content">
            <h1>Unlimited movies, TV shows and more.</h1>
            <p>Watch anywhere and anytime.</p>
            <button class="sign-up" (click)="changePage('register')">Sign Up</button>
        </div>
    </div>
</body>
</html>
