<div class="container" [ngClass]="{'background-image': isImageVisible}">
    <video id="bgVideo" autoplay muted loop (timeupdate)="checkVideoTime()" #bgVideo>
      <source src="../../../../assets/trailer-1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
         
    <div class="main-content">
      <div class="content">
        <h1 [routerLink]="['/']">SKY STREAM</h1>
        <h2>Quantumania</h2>
        <div class="info">
            <img src="../../../../assets/imdb-icon.png" class="logo">
            <span>6.1</span>
            <span>|</span>
            <span>2023</span>
            <span>|</span>
            <span>18+</span>
        </div>
        <p class="description">
          One victim, found dead on a London street. Four detectives, in four different time periods, must solve the mystery to protect Britain's future.
        </p>
        <div class="tags">
          <span>Crime</span>
          <span>Drama</span>
          <span>History</span>
        </div>
        <div class="actions">
          <button (click)="notImplemented()">Watch Now</button>
          <button (click)="notImplemented()">+ Watchlist</button>
        </div>
      </div>
    </div>
  </div>
  