
<div class="notification" >
    <div class="header">
        <div class="text-box">
            <div class="all-text">All</div>
        </div>
        <div class="mark-text">Mark All As Read</div>
        <img class="icon-settings" alt="" src="../../../../assets/settings-icon.svg">
    </div>

    <div class="notification-list">
        <div class="notification-box">
            <div class="picture-box">
                <img class="icon" alt="" src="../../../../assets/logo-transparent.png">
            </div>
            <div class="data-box">
                <div class="title-text">Sky Stream - New Movie Alert</div>
                <div class="time-text">2 min • Notification</div>
                <div class="message-text">Your favorite actor has released a new movie! Check it out now!</div>
            </div>
        </div>
    </div>
</div>
