<!DOCTYPE html>
<html>
<body>
  <div class="logged">

    <app-nav-bar [id]="id"></app-nav-bar>

    <div class="search-box">
      <div class="top-container">
        <img class="search-image" alt="" src="../../../../assets/movie-poster.jpg"/>
        <div class="search-description">
          Unlimited <b class="gradient-text">Entertainment</b><br>
          Movies, TVs shows, & More.
        </div>
      </div>
    </div>

    <div class="populars">
      <div class="populars-title"> <b class="gradient-text"> Just for You </b> </div>
      <div class="populars-list">

        <div class="destination-box" [routerLink]="['/movie-details']">
          <img class="destination-image" alt="" src="../../../../assets/movie-1.jpg"/>
          <div class="box-bottom">
            <div class="top-part">
              <div class="destination-text">Quantumania</div>
              <div class="year-text">2023</div>
            </div>
            <div class="bottom-part">
              <div class="in-line-text">
                <img src="../../../../assets/hd-icon.png" alt="" style="width: 30px; height: 30px;"/>
              </div>
              <div class="in-line-text">
                <img src="../../../../assets/clock-icon.png" alt="" style="width: 20px; height: 20px;"/>
                <div class="destination-text">125 min</div>
              </div>
              <div class="destination-rating">
                <img src="../../../../assets/star-icon.png" alt="" style="width: 20px; height: 20px;"/>
                <div class="destination-text">6.1</div>
              </div>
            </div>
          </div>
        </div>

        <div class="destination-box" [routerLink]="['/movie-details']">
            <img class="destination-image" alt="" src="../../../../assets/movie-2.jpeg"/>
            <div class="box-bottom">
              <div class="top-part">
                <div class="destination-text">Guardians of the Galaxy</div>
                <div class="year-text">2014</div>
              </div>
              <div class="bottom-part">
                <div class="in-line-text">
                  <img src="../../../../assets/hd-icon.png" alt="" style="width: 30px; height: 30px;"/>
                </div>
                <div class="in-line-text">
                  <img src="../../../../assets/clock-icon.png" alt="" style="width: 20px; height: 20px;"/>
                  <div class="destination-text">122 min</div>
                </div>
                <div class="destination-rating">
                  <img src="../../../../assets/star-icon.png" alt="" style="width: 20px; height: 20px;"/>
                  <div class="destination-text">8.0</div>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-box" [routerLink]="['/movie-details']">
            <img class="destination-image" alt="" src="../../../../assets/movie-3.jpg"/>
            <div class="box-bottom">
              <div class="top-part">
                <div class="destination-text">Black Panther</div>
                <div class="year-text">2018</div>
              </div>
              <div class="bottom-part">
                <div class="in-line-text">
                  <img src="../../../../assets/hd-icon.png" alt="" style="width: 30px; height: 30px;"/>
                </div>
                <div class="in-line-text">
                  <img src="../../../../assets/clock-icon.png" alt="" style="width: 20px; height: 20px;"/>
                  <div class="destination-text">135 min</div>
                </div>
                <div class="destination-rating">
                  <img src="../../../../assets/star-icon.png" alt="" style="width: 20px; height: 20px;"/>
                  <div class="destination-text">7.3</div>
                </div>
              </div>
            </div>
          </div>

          <div class="destination-box" [routerLink]="['/movie-details']">
            <img class="destination-image" alt="" src="../../../../assets/movie-4.jpg"/>
            <div class="box-bottom">
              <div class="top-part">
                <div class="destination-text">Jaws</div>
                <div class="year-text">1985</div>
              </div>
              <div class="bottom-part">
                <div class="in-line-text">
                  <img src="../../../../assets/hd-icon.png" alt="" style="width: 30px; height: 30px;"/>
                </div>
                <div class="in-line-text">
                  <img src="../../../../assets/clock-icon.png" alt="" style="width: 20px; height: 20px;"/>
                  <div class="destination-text">124 min</div>
                </div>
                <div class="destination-rating">
                  <img src="../../../../assets/star-icon.png" alt="" style="width: 20px; height: 20px;"/>
                  <div class="destination-text">8.1</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <img class="pick-image" alt="" src="../../../../assets/section-main.png"/>

    <app-footer></app-footer>
  </div>
</body>
</html>
