<html>
<body>
  <div class="container">
    <video id="bgVideo" autoplay muted loop>
      <source src="assets/trailer-1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  <div class="vignette"></div>
    <div class="main-content">
        <div class="content">
          <h1>SKY STREAM</h1>
          <h2>Quantumania</h2>
          <div class="info">
              <img src="../../../../assets/imdb-icon.png" class="logo">
              <span>6.1</span>
              <span>|</span>
              <span>2023</span>
              <span>|</span>
              <span>3 Seasons</span>
              <span>|</span>
              <span>18+</span>
              <span *ngIf="isUserRated">|</span>
              <span *ngIf="isUserRated">Your Rating: {{rate}}</span>
          </div>
          <p class="description">
            One victim, found dead on a London street. Four detectives, in four different time periods, must solve the mystery to protect Britain's future.
          </p>
          <div class="tags">
            <span>Crime</span>
            <span>Drama</span>
            <span>History</span>
          </div>
        <div class="actions">
          <button>Play</button>
          <button style="background-color: rgba(0, 0, 0, 0.5); " (click)="onSubscribeIconClick()">+ Subscribe</button>
          <button style="background-color: rgba(0, 0, 0, 0.5); " (click)="onNotificationIconClick()">Add Review</button> <!-- vidljivo samo user-u -->
        </div>
        <div class="actions" style="margin-top: 2%;"> <!-- vidljivo samo adminu -->
            <button (click)="notImplemented()">Delete</button>
            <button style="background-color: rgba(0, 0, 0, 0.5); " [routerLink]="['/add-new-episode']">Add New Episode</button>
            <button style="background-color: rgba(0, 0, 0, 0.5); " [routerLink]="['/edit-show']">Edit</button>
        </div>
      </div>
    </div>
    <div class="episodes">
        <div class="top-box">
            <label class="title">Episodes</label>
            <label class="season">Season 1</label>
        </div>
        <div class="episode" *ngFor="let episode of episodes; let i = index">
          <div class="episode-number">{{i + 1}}</div>
          <div class="episode-content">
            <img [src]="episode.image" class="episode-image">
            <div class="episode-details">
              <h3>{{episode.title}}</h3>
              <p>{{episode.description}}</p>
              <span class="episode-duration">{{episode.duration}}</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
